.batch-form{
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.batch-form input{
    padding: 10px;
    border: 1px solid #a5a5a5;
    border-radius: 10px;
    width: 80%;
    font-size: 15px;
    height: 45px;
    
}
.thumbnail{
    height: 100px;
}