.home-wrapper {
  width: 100%;
  height: 80vh;
}
.home-box-wrapper {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box {
  width: 25%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
  & p {
    font-size: 20px;
  }
}
.box1 {
  background: linear-gradient(135deg, #ff7eb3, #ff758c);
}

.box2 {
  background: linear-gradient(135deg, #1dd1a1, #10ac84);
}

.box3 {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

/*============================================ MAIN WRAPPER =======================================*/

.home-latest-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.table-container {
  width: 48%;
  padding: 18px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  height: 60vh;
}

.table-container h3 {
  margin: 0 0 12px 0;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.styled-table thead {
  background: linear-gradient(45deg, #9f8225, #00f2fe);
}

.styled-table th,
.styled-table td {
  padding: 12px 14px;
  text-align: left;
  font-size: 15px;
}

.styled-table tbody tr:nth-child(even) {
  background: #f8f8f8;
}

.styled-table tbody tr:hover {
  background: #cde3f7;
  transition: 0.2s;
}

.table-container::-webkit-scrollbar {
  width: 6px;
}
.table-container::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.35);
  border-radius: 20px;
}
