.fee-container {
  max-width: 450px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  background: #fff;
}

.fee-container h2 {
    padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.fee-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.batch-select {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
}
textarea {
  resize: none;
  height: 70px;
}
.red-star {
  color: red;
  font-weight: bold;
}

/* =========================== Payment History ================================== */

.payment-container {
  padding: 20px;
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}


.table-wrapper {
  overflow-x: auto;
}

.payment-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.payment-table thead {
  background: #0d6efd;
  color: #fff;
}

.payment-table th,
.payment-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
}

.payment-table tbody tr:hover {
  background: #f4faff;
  transition: 0.2s;
}

.no-data {
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  color: #777;
}

/* -------------------- filter on tables =================================== */

.filters-section {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.filter-input {
  padding: 8px 10px;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
}

.reset-btn {
  padding: 8px 15px;
  background: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.reset-btn:hover {
  background: #e63939;
}

/* --------------------- pagination -------------------------- */
.pagination {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.page-btn {
  padding: 6px 12px;
  border: 1px solid #999;
  background: white;
  cursor: pointer;
  border-radius: 5px;
}

.page-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.page-info {
  font-weight: bold;
}
