:root {
  --bg-color: #c9d6ef;
  --box-color: #FFFFFF;
  --text-color: #33394C;

  --primary-1: #4E7CFF;
  --primary-2: #7033FF;
  --primary-3: #F65164;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}
.btn {
  background-color: var(--primary-3);
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 10px;
  height: 45px;
  font-size: 20px;
  gap: 10px;
  border: none;
}
.btn:hover{
  background-color : var(--primary-1);
  transition: 1s;
  cursor: pointer;
}

.loading {
  height: 24px;
  width: 24px;
}
.link{
  color: var(--primary-2);
  text-decoration: none;
  margin-top: 15px;
}