.login-wrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);

    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box{
    width: 80%;
    height: 80vh;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.login-left{
    width: 50%;
    background-color: var(--primary-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1{
        color:#fff;
        font-size: 28px;
    }
    p{
        font-size: 15px;
        color: rgb(248, 248, 125);
    }
}
.login-left img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}
.login-right{
    width: 50%;
}
.login-form{
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.login-form input{
    padding: 10px;
    border: 1px solid #a5a5a5;
    border-radius: 10px;
    width: 80%;
    font-size: 15px;
    height: 45px;
    
}


